.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.card-registration .select-arrow {
  top: 13px;
}
.col-lg-6 {
  flex: 0 0 auto;
  width: 100 !important;
}
.block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.block * {
  width: 50%;
  text-align: center;
}
